p {
	font-family: "Cambria";
	font-size: 200pt;
	color: #003366;
	text-align: center; 
	margin: 0px; 
}

h1 {
	font-family: "Cambria";
	font-size: 60pt; 
	color: #000000;
	text-align: center;
	margin: 26px;
}